/*PersonNode.css */

.person-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  position: relative;
}

.parent {
  display: flex;
}
.person-details {
  text-align: center;
  position: relative;
  margin: 0 25px;
}

.spouse-details {
  text-align: center;
  margin: 0 23px;
  position: relative;
  min-width: 136px;
}

.children {
  display: flex;
  justify-content: center;
}

/* .tree {
  list-style-type: none;
  /padding: 0;
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  height: auto;
  text-align: center;
} */

/* .tree ul {
  position: relative;
  transition: 0.5s;
  justify-content: center;
} */

/* .tree li {
  margin: 10px;
  height: fit-content;
  display: inline-table;
  text-align: center;
  list-style-type: none;
  padding: 0 20px;
  transition: 0.5s;
  position: relative; 
} */

.tree li > .children {
  margin-top: 20px; /* Adjust this value as needed */
}

.circle-container {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid #007bffbd;

  cursor: pointer;
}

.circle-image {
  overflow: hidden;
  background: #ccc;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.circle-container.female {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: #ff00ff5e;
  overflow: hidden;
}

.Personnn {
  display: flex;
  height: 200px;
}

/* .Childrennn .person-details {
} */

.Childrennn {
  display: flex;
  position: absolute;
  padding-top: 40px;
  /* border-top: 1px solid #dcdcdc; */
}

/* .Childrennn:before {
  content: '';
  width: calc(100% - 170px);
  position: absolute;
  /* border-top: 1px solid #dcdcdc; */
/* display: block;
  left: 102px;
  top: 0;
} */
/*
.spouse-present .Childrennn:before {
  width: calc(100% - 318px);
} */

.top-line {
  content: "";
  height: 133px;
  width: 3px;
  background-color: #dcdcdc;
  position: absolute;
  left: 50%;
  top: 34.8%;
  z-index: -10;
}

.bottom-line {
  content: "";
  height: 40px;
  width: 3px;
  background-color: #dcdcdc;
  display: block;
  position: absolute;

  left: 50%;
  top: -40px;
}

.App {
  display: flex;
}

.display-Tree {
  flex: 1;
}

.form-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  z-index: 100;
  border-radius: 15px;
}

.connection-line {
  border-top: 3px solid #dcdcdc;
  position: relative;
  top: -40px;
  width: 50% !important;
}

.connection-line.right {
  left: 50%;
}

.connection-line.left {
  right: 50%;
}

.connection-linefalse {
  border-top: 1px solid #dcdcdc;
  position: relative;
  top: -40px;
  right: 50%;
}

.spouse-details.spouse-details-oflastChild {
  position: absolute;
  left: 100%;
}

/* .spouse-line {
  content: "";
  height: 2px;
  width: 48px;
  background-color: #dcdcdc;
  position: absolute;
  left: -35%;
} */

.spouse-line {
  position: absolute;
  width: 48px;
  height: 3px;
  background-color: #dcdcdc;
}

.left-line {
  right: -35%;
}

.right-line {
  left: -35%;
}

.spouse-title {
  position: absolute;
}
