.App {
  display: flex;
}

.display-Tree {
  flex: 1;
}

.form-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  z-index: 100;
  border-radius: 15px;
}
